input {
    border-radius: 3px !important;
}

.hint-label {
    margin-left: 4px;
    font-size: 12px;
    color: $hint-label-color;
}

.readonly-field {
    border: 2px solid $white !important;
    outline-color: $white !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}

.readonly-field:focus, .readonly-field:active {
    outline: 0 !important;
    outline-offset: 0 !important;
}

input::placeholder {
    color: $placeholder-color !important;
}